body {
    background-color: rgb(205, 238, 116);
}
.darkgreen{
    width: 60%;
    height: 200px;
    background-image:url("https://i.pinimg.com/originals/1b/55/e4/1b55e4bdb4fc6051382e370bf26d5a59.jpg");
    display:block;
    margin:0 auto;
    text-align: center;
}
.principalcontainer{
    width:60%;
    height:700px;
    display:block;
    margin:0 auto;
    background-color:rgb(223, 243, 156);
}
#newpage>a{
    padding: 51px;
    font-size: 18px;
    text-decoration: none;
    color:rgb(12, 56, 12);

}
#newpage{
    width:98%;
    margin:0 auto;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px #8a8989;
    padding:8px;
    background-color: rgb(227, 240, 187);

}
.menugalerry{
    width: 98%;
    display:flex;
    flex-direction:row;
}
.mainmenu{
    width: 17%;
    height:600px;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px #8a8989;
    margin-top:5px;

}
.mainmenu>a{
 color:rgb(12, 56, 12);
 margin-left:5px;
}
.mainmenu>p{
    color:rgb(12, 56, 12);
    margin-left:8px;
}
#greenmenu{
    width:90%;
    height:38px;
    background-color:rgba(79, 153, 19, 0.781);
    margin:0 auto;
    display:flex;
    align-items: center;
    font-size:20px;
}

#blockgreen{
    width:90%;
    height:38px;
    background-color:rgba(79, 153, 19, 0.781);
    margin:0 auto;
    display:flex;
    align-items: center;
    font-size:20px;

}
.galerything{
    width:80%;
    height:500px;
    display:inline-block;
    margin-left: 18px;
}
.subscription{
    width:45%;
    display:inline-block;
    margin-left: 18px;


}
button{
    padding:7px 6px;
    background-color:rgba(79, 153, 19, 0.781);
    color:rgb(12, 56, 12);
    box-sizing: border-box;
    box-shadow: 2px 2px 4px #8a8989;
}
.otherservices{
    width:45%;
    display:inline-block;
    margin-left: 18px;

}
.copyrightbar{
    width:97%;
    height:30px ;
    background-color:rgba(79, 153, 19, 0.781);
    color:rgb(12, 56, 12);
    text-align:center;

}
a:hover{
    -ms-transform: scale(0.8); 
    -webkit-transform: scale(0.8);
    transform: scale(0.8); 
}
 button:hover{
    -ms-transform: scale(0.8); 
    -webkit-transform: scale(0.8);
    transform: scale(0.8); 

 }